body{
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}
.jumbo-color{
    background-color: rgb(83, 81, 81);
}

/* changing form box color
.form-control{
    background-color: rgb(75, 74, 74);
} */